<div class="invoice">

  <h1>Invoice</h1>


  <section class="invoice-from">

  </section>



  <section class="invoice-to">

  </section>



  <section class="invoice-items">

    <table class="invoice">

      <thead>

        <tr>
          <th>Description</th>
          <th>Quantity</th>
          <th>Unit price</th>
          <th>Total</th>
        </tr>

      </thead>


      <tbody>

        <% @item_orders.each do |io| %>

          <% if io.order_fee.per_unit_fee || io.order_fee.per_order_fee %>
            <%= render partial: "invoice_item_description_row", locals: { record: io, record_type: 'item_order', item: io.item } %>
          <% end %>


          <% if io.order_fee.per_unit_fee %>
            <%= render partial: "invoice_per_unit_fee_row", locals: { record: io, record_type: 'item_order' } %>
          <% end %>


          <% if io.order_fee.per_order_fee %>
            <%= render partial: "invoice_per_order_fee_row", locals: { record: io, record_type: 'item_order' } %>
          <% end %>

        <% end %>


        <% @digital_image_orders.each do |dio| %>

          <% if dio.order_fee.per_unit_fee || dio.order_fee.per_order_fee %>
            <%= render partial: "invoice_item_description_row", locals: { record: dio, record_type: 'digital_image_order', item: dio } %>
          <% end %>


          <% if dio.order_fee.per_unit_fee %>
            <%= render partial: "invoice_per_unit_fee_row", locals: { record: dio, record_type: 'digital_image_order' } %>
          <% end %>


          <% if dio.order_fee.per_order_fee %>
            <%= render partial: "invoice_per_order_fee_row", locals: { record: dio, record_type: 'digital_image_order' } %>
          <% end %>

        <% end %>

        <tr>
          <td colspan="3" class="total-due">Total due</td>
          <td class="numeric total"><%= number_to_currency(@order_fees_total) %></td>
        </tr>

      </tbody>

    </table>

  </section>



</div>
