<!DOCTYPE html>
<html>

<%= render partial: 'layouts/head' %>

<body>

  <% if Rails.env != 'production' %>
  <div class="environment-label">
    <i class="fa fa-bolt"></i>
    This is the <%= Rails.env %> version -- not for production use
    <i class="fa fa-bolt"></i>
    </div>
  <% end %>


  <div class="off-canvas-wrap">
    <div class="inner-wrap">

      <%= render partial: 'layouts/header' %>


      <main>

        <%# render partial: 'layouts/flash' %>

        <%= yield %>

      </main>


    </div>
  </div>


  <!-- js -->
  <%= javascript_include_tag 'application' %>

</body>

</html>
